
@{
    Layout = null;
}


@* <!doctype html>
<html lang="zxx">



@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartial.CsHtml")


<body>
    
    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.CsHtml")

    
    @RenderBody()

    @await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartial.CsHtml")


    @await Html.PartialAsync("~/Views/LayoutPartial/_ScriptPartial.CsHtml")

</body>

</html>
 *@